body {
  background: #111;
  padding: 0 2em 2em 2em;
}

h1,
h2,
h3,
h4,
a,
p {
  color: #ddd;
  font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

#widgetSpinner {
  display: none;
  padding: 3em;
}

#spectrumAnalyzer {
  border: 1px solid #666;
  display: none;
  height: 500px;
  width: 1024px;
}

#audioSpinner {
  padding: 1em;
}

#controls {
  clear: both;
  display: none;
}

#buttons {
  padding-right: 1em;
}

#sliders {
  margin-left: 2em;
}

.slider {
  margin-right: 1.3em;
}

.button#play {
  width: 4em;
}

input[type=range] {
  background-color: #222;
  border: 1px solid #666;
  padding: 0.2em;
  width: 10em;
  -webkit-appearance: none;
}

#audioUrl {
  width: 500px;
}
